<h2>Edit Post</h2>

<% # Title, Tags, Text %>
<%= form_tag("/post/#{@form.id}", method: :put, class: 'edit-form') do %>
  <%= render partial: 'form', object: @form %>
<% end %>

<br/>
<div>
  <%= link_to 'Back', :back %>
</div>